<div class="home mt-16">

    <h1>{{ headline ?? title | widont:2 }}</h1>
    <h2 class="text-lg sm:text-2xl sm:leading-10 font-medium">{{ subheading }}</h2>

    <div class="recent-posts my-20">
        <div class="flex content items-center">
            <h4 class="">Recent blog posts</h4>
        </div>

        {{ collection from="blog" as="blog" limit="5" }}
        <div class="post-list">

            {{ if no_results }}
            <h2 class="italic tracking-tight">Nothing to see here.</h2>
            {{ /if }}

            {{ blog }}
            {{ partial:blog/_card }}
            {{ /blog }}

        </div>
        {{ /collection }}
    </div>

</div>
