<div class="home mt-16">

    <h1>{{ headline ?? title | widont:2 }}</h1>

    <div class="recent-posts my-40">
        <div class="flex content items-center">
            <h4 class="">Most recent blog post</h4>

        </div>

        {{ collection from="blog" as="blog" limit="1" }}
        <div class="post-list">

            {{ if no_results }}
            <h2 class="italic tracking-tight">Nothing to see here.</h2>
            {{ /if }}

            {{ blog }}
            {{ partial:blog/_card }}
            {{ /blog }}

        </div>
        {{ /collection }}
    </div>

</div>
