<!doctype html>
<html lang="{{ site:short_locale }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site:name }} • {{ title | lower }}</title>
    <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">
    <script src="{{ mix src='/js/site.js' }}"></script>


</head>

<body class="antialiased">

    <div>
        {{ partial:nav }}
    </div>

    <div class="mx-auto w-11/12 lg:w-6/12">
        {{ template_content }}
    </div>

</body>

</html>
