<div class="blog mt-16 mb-40">
    <h1>{{ headline ?? title }}</h1>

    {{ collection from="blog" as="blog" paginate="10" }}
    <div class="post-list content">
        {{ if no_results }}
        <h2 class="italic tracking-tight">Nothing to see here.</h2>
        {{ /if }}

        {{ blog }}

        {{ partial:blog/_card }}

        {{ /blog }}

        {{ paginate }}
        {{ if prev_page || next_page }}

        <div class="flex justify-between text-xl font-bold">
            <a href="{{ prev_page }}" class="{{ ! prev_page ?= 'opacity-25' }}">
                &larr; Previous
            </a>
            <a href="{{ next_page }}" class="{{ ! next_page ?= 'opacity-25' }}">
                Next &rarr;
            </a>
        </div>
        {{ /if }}
        {{ /paginate }}


    </div>
    {{ /collection }}

</div>
